/* Left column */
.home-panel .controller {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.home-panel .controller:not(.filter-panel .controller) {
    background-color: rgb(6, 13, 19);
}

.home-panel .filter-panel.open {
    max-height: 1000px;
}

.home-panel .form-input {
    width: 80%;
}

/* Main column */
.home-image {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.home-image img {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
}

.classroom-name i {
    position: relative;
    top: 7px;
}
